<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BINJ Hub Demo</title>
    <script src="/scripts/index.js"></script>
    <script>
        BINJHub.getUser().then(json => {
            const br = document.createElement("br");
            if (!json.success) {
                const a = document.createElement("a");
                a.innerText = "Click to log in!";
                a.href = "/api/auth";
                userstat.innerHTML = "";
                userstat.append(json.message, br, a);
            } else {
                const b = document.createElement("b");
                b.innerText = json.data.name;
                const i = document.createElement("i");
                i.innerText = json.data.email;
                const a = document.createElement("a");
                a.innerText = "Click to log out!";
                a.href = "/api/auth/logout?upstream=1";
                userstat.innerHTML = "";
                userstat.append("Logged in as ", b, " (", i, ")!", br, a);
            }
        }).catch(err => {
            userstat.textContent = "ERROR: " + err;
        });
    </script>
</head>

<body>
    <h1>Welcome to BINJ Hub</h1>
    <div id="userstat">Loading, please wait...</div>
</body>

</html>