<!--
    This is a basic page that does nothing but tell the user to
    authenticate if they haven't.
-->

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BINJ Hub Demo</title>
</head>

<body>
    <h1>Welcome to BINJ Hub</h1>
    {% if user == None %}
    <p>You are not logged in.</p>
    <p><a href="/api/auth">Click here</a> to log in!</p>
    {% else %}
    <p>Welcome back, <b>{{ user["name"] }}</b> <i>({{ user["email"] }})</i>!</p>
    {% endif %}
</body>

</html>